# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("Data wrangling with Spark SQL") \
    .getOrCreate()
path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)
# TODOS: 
# 1) import any other libraries you might need
# 2) instantiate a Spark session 
# 3) read in the data set located at the path "data/sparkify_log_small.json"
# 4) create a view to use with your SQL queries
# 5) write code to answer the quiz questions 
user_log.createOrReplaceTempView("user_log_table")

In [6]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

# Question 1

Which page did user id ""(empty string) NOT visit?

In [7]:
# TODO: write your code to answer question 1
spark.sql("SELECT page, userId FROM user_log_table where userId is not null group by userId,page").show()

+--------+------+
|    page|userId|
+--------+------+
|    Home|    88|
|NextSong|  1701|
| Upgrade|  1580|
|NextSong|  2848|
|    Home|  2703|
|NextSong|  1259|
|   Error|  2117|
|    Home|   597|
|NextSong|  2412|
|NextSong|  2079|
|NextSong|   533|
|    Home|  2567|
|Settings|   628|
|    Home|  1025|
|    Home|   757|
|    Home|  1795|
|    Home|  2053|
|    Home|  2147|
|NextSong|   880|
|    Home|  2533|
+--------+------+
only showing top 20 rows

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

# Question 3

How many female users do we have in the data set?

In [20]:
# TODO: write your code to answer question 3
spark.sql("SELECT count(distinct userId) from user_log_table where gender='F'").show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                   462|
+----------------------+


# Question 4

How many songs were played from the most played artist?

In [33]:
# TODO: write your code to answer question 4
spark.sql("SELECT artist , count(artist) as plays from user_log_table where artist is not null group by artist ORDER BY plays DESC LIMIT 1").show()

+--------+-----+
|  artist|plays|
+--------+-----+
|Coldplay|   83|
+--------+-----+

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5